<html>

<head>
    <title>X</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="p5.js"></script>
</head>

<body>
    <div id="title-wrapper">
        <h1 class="headline red">X</h1>
    </div>
    <div id="main-wrapper">
        <div id="p5-canvas-container">
            
        </div>
        <div class="two-columns">
            <div class="left">
                <h3 class="yellow">Scientific Name:</h3>
                <p>X-Galaxy#4C2S0</p>

                <h3 class="yellow">Discovered by / at:</h3>
                <p>An astronomical scientist (Chloe), at Shanghai Astronomical Observatory, in September 12, 3046.</p>

                <h3 class="green">Habitat:</h3>
                <ul>
                    <li>Before: Galaxy #4C2S0</li>
                    <li>Recently: some where in the space</li>
                    <li>Currently: near the Earth</li>
                </ul>    

            </div>
            <div class="right">
                <h3 class="green">Family:</h3>
                <p>Other species from Galaxy #4C2S0</p>

                <h3 class="green">Appearance:</h3>
                <p>purple, green; V-shaped</p>
                
                <h3 class="green">Key Characteristics:</h3>
                <ul>
                    <li>Wander randomly in the space.</li>
                    <li>Be invisible in some cases (e.g. in horror).</li>
                    <li>Have the power of killing other creatures.</li>
                    <li>Not fully trust the unfamiliar things.</li>
                </ul>
            </div>
        </div>
        <div class="one-column">
            <p>
                <span class="red">What we know so far about X?</span>
                X is a creature from Galaxy #4C2S0. It just lost its mother planet, therefore randomly wandering in the space and trying to find a new habitat. Currently, it is flying to the Earth. The Earth is a very good place to live, so X would like to find the possibilities of landing on the Earth. However, it is not familiar with the human beings living on the Earth. Thus, it does not fully trust human beings' behaviour.
                <br>
                <span class="yellow">Guidelines for human interaction with this creature</span> As the first human being to spot xxXxx, you need to response to the approach of this new creature on behalf of all the human beings. There are two things you can do. One is sending direction signal. By pressing the upper region, middle region or lower region of the monitor screen, you can send the signals that direct X to fly higher, fly backwards or fly lower respectively. The other thing is that you can choose a planet (except the Earth) and let it jiggle. This weird phenomenon can scare X, making it stay on its spot. By responsing to the signals sent by you, the creature will either pass the Earth or land on the Earth. Different results will then happen. Now the fate of humanity is in your hand. 
            </p>
        </div>
    </div>
    <div id="home"><a href=" https://www.cclab.work/atlas">Back to the ATLAS</a></div>
    <div id="footer" class="yellow">
        <p>A CCLab project made by Chloe Song in Summer 2024</p>
    </div>

    <script src="sketch.js"></script>
    

</body>

</html>