<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chloe's Project</title>
    <link rel="stylesheet" href="style.css">

    <script src="lib/p5.js"></script>

    <!-- include p5 library -->
    <script src="lib/p5.sound.min.js"></script>
</head>
<body>
    <h1>Chloe's website that will change the world in the future.</h1>

    <div id = "p5-canvas-parent"></div>

    <p>above you will see me art</p>

    <div class = "textbox one">
        <p>one</p>
        <p class = "special">above you will see my <span id = "viw">art</span> lalala</p>
        <p>one more week</p>
    </div>

    <div class = "textbox two">
        <p>two</p>
        <p class = "special">above you will see my <span id = "viw">art</span> lalala</p>
        <p>one more week</p>
    </div>

    <div class = "textbox three">
        <p>three</p>
        <p class = "special">above you will see my <span id = "viw">art</span> lalala</p>
        <p>one more week</p>
    </div>

    <div class = "textbox four">
        <p>four</p>
        <p class = "special">above you will see my <span id = "viw">art</span> lalala</p>
        <p>one more week</p>
    </div>
    
    <!-- include my p5 sketch -->
    <script src="sketch.js"></script>
</body>
</html>